body{
    font-family: 'Ubuntu', sans-serif;
}

.nav-sidebar{
    margin: 40px -20px 20px 20px;
}

.nav-sidebar >li >a{
    padding: 20px 20px;
}

.main{
    margin-top: -20px;
}

.placeholders{
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}

.placeholder img{
    display: inline;
    border-radius: 50%;
}