<html>
<head>
    
   <title>Analysis</title>
    
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <!--<link rel="shortcut icon" type="image/png" href="image/shortcut.png">-->
    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
   <link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
	
</head>

<body style="background-color: whitesmoke">  

<center><h2>Company's Productwise Analysis</h2></center>

<div class="well text-center">
    <div class="col-md-6">
        <img src="chart1.jpeg" height="500px" width="500px">
    </div>
    <div class="col-md-6">
        <img src="chart2.jpeg" height="500px" width="500px">
    </div>
</div>

</body>

</html>
