<!DOCTYPE html>
<html>
<head>
     
    <title>Select Keywords</title>
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    $(document).ready(function() {
         function disablePrev() { window.history.forward() }
         window.onload = disablePrev();
         window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
      });

    
    <!--<link rel="shortcut icon" type="image/png" href="image/shortcut.png">-->
    
	<link rel="stylesheet" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">

    
    <style>
        .navbar-header{
            margin-left:5px;
            width:100%;
        }
    </style>
     
     
   <script>
   
    $(document).ready(function(){
       $("#alert").hide(); 
    });
      
   </script>
     
</head>
<body>
  
     
    <!--Navbar starts here-->   
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: white;border-color: floralwhite">    
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
                <a class="navbar-brand" href="index"><i class="fas fa-desktop"></i> Admin Dashboard </a>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="float:right;margin-top:8px">
                    <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                </form>
        </div>
     </div>
    </nav>
    <!--Navbar Ends-->    


    <!--Sidebar Starts-->
    <div class="col-sm-3 col-md-2 sidebar" style="background-color: white;height:605px;border-right-color: ghostwhite;position: fixed">
        <ul class="nav nav-sidebar">
            <li><a href="dataanalysis.html"><i class="glyphicon glyphicon-signal" style="padding-right: 5px"></i>Data Analysis</a></li>
            <li><a href="pastdata.html"><i class="glyphicon glyphicon-list-alt" style="padding-right: 5px"></i>Past Reports</a></li>
            <li><a href="about.html"><i class="glyphicon glyphicon-user" style="padding-right: 5px"></i>About</a></li>
            <li><a href="contact.html"><i class="glyphicon glyphicon-pencil" style="padding-right: 5px"></i>Contact Us</a></li>
            <p style="margin-top: 420px;color: black;font-size: 10px">@CopyRights-2020</p>
        </ul>
    </div>
    <!--Sidebar Ends-->
    
     
     
    <div class="container" style="margin-top: 50px;margin-left: 230px"> 
        <h2>Enter Your Keywords</h2>
        <div class="input-group" style="margin-top: 20px">
          <span class="input-group-addon" id="basic-addon1">@</span>
          <!--<from class="form-group" action="keyword.html" method="post">-->
            <form action="keyword.html" method="POST">
            <input type="text" name="fetch_tweet" class="form-control" placeholder="Username" aria-describedby="basic-addon1" data-toggle="tooltip" data-placement="bottom" title="Please enter keywords starting with '@' and use ',' as seprater." style="width: 90%">
            <input type="submit" class="btn btn-info"value="fetch_tweet" id="submit">
        </form>
            <!--</from>-->
        </div>
    </div>
     
    <div class="alert alert-info" role="alert" id="alert" style="margin-left: 250px;margin-top: 10px;width:80%"><a href="{{url_for ('test')}}?name=2">For futher process please click here</a></div>
 
    <script>
    
    $("#submit").click(function(){
      $("#alert").show();  
    });
     
    </script>

</body>
</html>